.grid-container{
  height: 100px;
  width: 400px;
  border: solid 1px black;
}

.grid-container_item{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container_item-1{
  height: 100%;
  width: 100%;
}


