*{
  font-size: 60px;
}

.grid-container{
  height: 300px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 29%;
}

.grid-container_item{
 justify-content: center;
 align-items: center;
 display: flex;
}

.score-board{
background-color: beige;
width: 100%;
height: 100px;
}

.num{
 background-color:violet ;
 width: 200px;
 height: 150px;

}

.operator{
  background-color: lightcoral;
  width: 200px;
  height: 150px;
}

.answer-box{
background-color: purple;
width: 100%;
height: 250px;

}

.button-answer{
  margin-left: 20px;
  font-size: 30px;
}

.input-answer{
  font-size: 30px;
}

.modal {
  display: none;
  position: fixed;
  border: none;
  z-index: 2;
  padding-top: 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
}

.modal-content {
  background-color:plum;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 500px;
  font-size: 10px;
  text-align: center;
}

.model-text{
  text-align: center;
}

.endScore{
font-size: 30px;
}
.endMistake{
  font-size: 30px;
 }

.playAgain{
   font-size: 30px;
 }

 .tijd{
   font-size: 30px;
 }